.todos {
  /* min-width: 40vw;
  min-height: 50vh;
  background: #949292;
  overflow: auto; */
}
.inputSection {
  padding: 50px;
}
.inputSection form{
    padding: 50px;
    box-shadow: 0 0 10px rgba(51, 68, 85, 0.257);
    border-radius: 10px;
}
.inputSection input {
  height: 50px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #3456;
  padding: 0 10px;
  margin: 0 5px;
  font-size: 20px;
}
.inputSection button {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid crimson;
  padding-left: 10px;
  font-size: 20px;
  color: #fff;
  background-color: crimson;
  font-weight: 600;
}
